/* blob color #64A8A4 */


header {
	width: 100%;
	background: #fff;
	border-bottom: medium solid #cccccc;
	height: 90px;

}

body {
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-image: url("../images/graphy.png");
	color:#777;
	font-size: 100%;
	line-height: 170%;
	margin: 0 auto;
}

h2 {
	font-family: 'Georgia', Times, Times New Roman, serif;
}

.blue {
	color:#64A8A4;
}

#nameplate {
	width: 144px;
	float: left;
	margin-left: 160px;
	padding: 33px;
	background-color: #64A8A4;
	color: white;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 24px;

}

#navigation {
	width: 330px;
	float: right;
	color:#ccc;
	padding: 36px;
}

#navlines{
	color: #555;
	float: right;
}

hr{
	height:3px;
	background: #ccc;
	border: 0px;
}

#bodypanel {
	margin-top: 38px;
	clear: both;
}

#portfolio{
	background-color: #ccc;
	margin-top: 20px;
	padding: 10px;
}

.portrow{
/*margin-right: -10px;
margin-left: -5px;
margin-bottom: 20px;*/
margin: 0 auto ;
}


.image {
	position:relative;
	float:left; /* optional */
	margin: 20px;

}
.image .text {
	position:absolute;
	top:150px; /* in conjunction with left property, decides the text position */
	left:0px;
	right: 0px;
	background-color: #64A8A4;
	color:white;
	text-align: center;
	line-height: 10%;
	font-family: 'Georgia', Times, Times New Roman, serif;
}



.wraptext {
	float: left;
	margin: 10px;
}

article{
	float:left;
	margin-left: 160px;
	padding:30px;
	padding-top: 22px;
	background-color: #fff;
	width:578px;
	margin-bottom:  28px;
	margin-top:  30px;
	height: 824px;
}

.artport {
	width:578px;
	height: 824px;
}


#connect{
	float:left;
	margin-left: 83px;
	margin-top: 30px;
	padding:30px;
	padding-top: 22px;
	background-color: #fff;
	width:257px;
}


#logos{
	padding:20px;
	text-align: center;
}


input{
	width: 426px;
	height: 24px;
}


input[type=submit] {
	width: 140px;
	background-color: #64A8A4;
	color: white;
	padding: 14px 20px;
	margin: 20px 0;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	text-align: center;
	font-size: 100%;
	vertical-align: top;
	line-height: 0px;
}

input[type=textarea] {
	width: 100%;
	height: 132px;
	resize: none;

}

footer{
	clear: both;
	width: 100%;
	background: #666;
	border-top: thick solid #64A8A4;
	
	color: #ccc;
	text-align: center;
	padding: 36px;
	font-size: 12px;
}


/* unvisited link */
a:link {
	color: #ccc;
	text-decoration: none;
}

/* visited link */
a:visited {
	color: #888;
	text-decoration: none;
}

/* mouse over link */
a:hover {
	color: #ccc;
	text-decoration: none;
}

/* selected link */
a:active {
	color: blue;
	text-decoration: none;
}
